header {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0);
  background-color: white;

  .logo {
    height: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 70px;
  }
  .logo-font {
    height: 50px;
    margin-left: 10px;
    margin-bottom: 70px;
  }
}
