.profile-row {
  display: flex;
  align-items: center;
  padding: 8px;
  img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    object-position: right;
    margin-right: 20px;
  }
  .description {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
  }
  .name {
    width: 150px;
    margin-right: 15px;
  }
  a {
    font-size: 12px;
    color: blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    mat-icon {
      font-size: 20px;
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
