.standard-notification{
    display: flex;
    align-items: center;
    padding: 8px;
.img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: right;
    margin-right: 16px;
  }
.description {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
}
}