.container {
  margin-right: 50px;
}

.flexrow {
  display: flex;
  justify-content: center;
  padding-left: 450px;
  padding-top: 50px;
  padding-right: 200px;
}
.margin-bottom-16 {
  margin-bottom: 16px;
}
