/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background-color: rgb(0 , 0, 0, 0.1);
  font-family: 'Libre Baskerville', serif;
}
.standard-card {
  background-color: white;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.paddign-16{
  padding: 16px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.standard-notification {
  margin-right: 50px;
  background-color: white;
  width: 400px;
  height: 60px;
  border-radius: 1%;
  color: rgba(0 , 0, 0, 0.5);
  font-size: 15px;
  .img {
    width: 90px;
    height: 60px;
    object-fit: cover;
    object-position: right;
    margin-right: 16px;
  }
}
