/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  background-color: rgb(0 , 0, 0, 0.1);
  font-family: 'Libre Baskerville', serif;
}
.standard-card {
  background-color: white;
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.paddign-16{
  padding: 16px;
}

html, body { height: 100%; }
.standard-notification {
  margin-right: 50px;
  background-color: white;
  width: 400px;
  height: 60px;
  border-radius: 1%;
  color: rgba(0 , 0, 0, 0.5);
  font-size: 15px;
  .img {
    width: 90px;
    height: 60px;
    object-fit: cover;
    object-position: right;
    margin-right: 16px;
  }
}

.profile-row {
  margin-right: 50px;
  background-color: white;
  width: 400px;
  height: 85px;
  border-radius: 1%;
  display: flex;
  align-items: center;
  padding: 8px;
  margin-top: 10px;
  img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    object-position: right;
    margin-right: 20px;
  }
  .description {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
  }
  .name {
    width: 150px;
    margin-right: 15px;
  }
  a {
    font-size: 12px;
    color: blue;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
    mat-icon {
      font-size: 20px;
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
